@font-face {
  font-family: 'Star Jedi Hollow';
  src: url("//db.onlinewebfonts.com/t/dcb5cf864bdbede594c7d31a204dee8d.eot");
  src: url("//db.onlinewebfonts.com/t/dcb5cf864bdbede594c7d31a204dee8d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/dcb5cf864bdbede594c7d31a204dee8d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/dcb5cf864bdbede594c7d31a204dee8d.woff") format("woff"), url("//db.onlinewebfonts.com/t/dcb5cf864bdbede594c7d31a204dee8d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/dcb5cf864bdbede594c7d31a204dee8d.svg#Star Jedi Hollow") format("svg"); }

@font-face {
  font-family: 'Star Jedi';
  src: url("../fonts/StarJedi.woff"); }

@font-face {
  font-family: 'Star Jedi Rounded';
  src: url("../fonts/StarJediRounded-jW3R.ttf"); }

@font-face {
  font-family: 'Tahoma';
  src: url("../fonts/Tahoma.ttf"); }

* {
  color: #fcc60b; }

h1, h2, h3 {
  font-family: 'Star Jedi'; }

.container {
  max-width: 1800px;
  margin: 0 auto; }

.header {
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(black)), url("../img/header-background.jpg") center/cover;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black), url("../img/header-background.jpg") center/cover;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black), url("../img/header-background.jpg") center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black), url("../img/header-background.jpg") center/cover;
  height: 100vh;
  max-height: 1500px;
  max-width: 3000px; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .header__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 40px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header .header__top .menu .menu__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0  -20px; }
      .header .header__top .menu .menu__items .menu__item {
        padding: 0 20px; }
        .header .header__top .menu .menu__items .menu__item a {
          font-family: 'Tahoma';
          font-size: 23px;
          font-weight: 700; }
          .header .header__top .menu .menu__items .menu__item a:hover {
            color: #866802; }
  .header .header-title {
    margin-top: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    max-width: 500px; }
    .header .header-title img {
      display: block;
      max-width: 80%; }
    .header .header-title .header-title__name {
      font-family: 'Lato', sans-serif;
      font-size: 26px;
      line-height: 44.89px;
      letter-spacing: 4.95px;
      text-transform: uppercase; }
    .header .header-title .header-title__date {
      color: #ffffff;
      line-height: 40.05px;
      font-weight: 300;
      font-size: 29px;
      opacity: 0.81;
      letter-spacing: 3.16px;
      text-transform: uppercase;
      margin-top: 10px; }

.main {
  margin: 0 auto;
  max-width: 3000px;
  background: url("https://polarnotion.github.io/starwarsintro/img/stars-bg.jpg"); }
  .main .main-section {
    padding-top: 100px; }
    .main .main-section .main-section__header {
      text-align: center;
      color: #fcc60b;
      font-size: 50px;
      line-height: 93.87px; }
      .main .main-section .main-section__header .about {
        font-family: "Star Jedi Hollow"; }
    .main .main-section .main-section__text {
      margin: 0 auto;
      color: #fff;
      font-family: Lato;
      font-size: 35px;
      text-align: justify;
      max-width: 80%;
      -webkit-transform: rotateX(30deg);
      transform: rotateX(30deg); }
  .main .animate-section {
    position: relative;
    height: 100vh; }
  .main .course-info {
    margin: 100px 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
    .main .course-info__dates, .main .course-info__design-line {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .main .course-info__data {
      padding: 0 100px; }
      .main .course-info__data a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .main .course-info__data .course-info__title {
        padding-top: 8px;
        font-family: Star Jedi;
        font-size: 32px;
        line-height: 45.55px; }
    .main .course-info__design-line {
      padding-top: 300px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main .course-info__design-line .line {
        max-width: 80vw;
        margin-right: 3vw; }
  .main .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 70vh;
    padding-bottom: 100px; }
    .main .contact-us__contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .main .contact-us__contacts .contact {
        padding: 0 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .main .contact-us__contacts .contact__img {
          max-width: 323px;
          width: 100%;
          border-radius: 50%;
          border: 5px solid #fcc60b; }
        .main .contact-us__contacts .contact .contact__img_min {
          margin-top: 30px;
          max-width: 280px;
          width: 100%;
          border-radius: 50%;
          border: 5px solid #fcc60b; }
        .main .contact-us__contacts .contact .cover-img {
          max-width: 350px;
          padding: 5px;
          border: 5px solid #fcc60b;
          border-radius: 50%;
          text-align: center; }
          .main .contact-us__contacts .contact .cover-img img {
            display: inline; }
        .main .contact-us__contacts .contact__data {
          padding-top: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .main .contact-us__contacts .contact__data .contact__description {
            padding-left: 50px; }
          .main .contact-us__contacts .contact__data .contact__name {
            color: #fff;
            font-family: Lato;
            font-size: 40px; }
          .main .contact-us__contacts .contact__data .contact__role {
            font-family: Lato;
            font-style: italic;
            font-size: 20px;
            line-height: 30.25px; }
          .main .contact-us__contacts .contact__data .contact__mail {
            color: #ffffff;
            font-family: Lato;
            font-size: 19px;
            font-weight: 300; }
          .main .contact-us__contacts .contact__data .contact__phone {
            padding-left: 30px;
            color: #ffffff;
            font-family: Lato;
            font-size: 20px;
            font-weight: 500;
            line-height: 40.25px;
            position: relative; }
            .main .contact-us__contacts .contact__data .contact__phone::before {
              content: '';
              position: absolute;
              width: 25px;
              height: 25px;
              background: url("../img/phone-icon.png") center/contain;
              top: calc(50% - 13px);
              left: 0; }
  .main .contact-us__title {
    text-align: center;
    padding: 50px 0 50px;
    font-size: 50px; }

.footer {
  background: #fcc60b;
  padding: 30px 0; }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer .social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 75px; }
    .footer .social a .social__text {
      padding-left: 30px;
      color: #000;
      font-family: Lato;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 3.28px; }
